<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Route</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>All chats</h3>
    <% for(let chat of chats){%>
        <div class="chat">
            <p>From : <%=chat.from%></p>
            <div class="msg">
                <p><%=chat.message%></p>
                <form action="/chats/<%=chat._id %>/edit" method="get">
                    <button class="edit">Edit</button>
                </form>
                <form action="/chats/<%=chat._id %>?_method=DELETE" method="post">
                    <button class="delete">Delete</button>
                </form>
            </div>
            <p>Received by : <%=chat.to%></p>
            <hr>
            <p><%=chat.created_at.toString().split(" ")[4]%></p>
            <p><%=chat.created_at.toString().split(" ").slice(0,4).join(" ")%></p>
        </div>
    <%}%>
    <form action="/chats/new" method="get">
        <button class="newChat">Create new Chat</button>
    </form>
</body>
</html>
